*~
tmp/
test/tmp
test/tmp/*.aux
test/tmp/*.log
test/tmp/*.nav
test/tmp/*.out
test/tmp/*.snm
test/tmp/*.tex
test/tmp/*.toc
test/tmp/*.vrb
test/tmp/*.pdf
test/*.aux
test/*.log
test/*.nav
test/*.out
test/*.snm
test/*.toc
test/*.vrb
# test/*.tex
# test/*.pdf

./*.aux
./*.log
./*.nav
./*.out
./*.snm
./*.tex
./*.toc
./*.vrb
./*.pdf
